/*
COLOR PALETTE
- Mint cream: #EEF4ED
- Powder Blue: #8DA9C4
- Oxford Blue: #0B2545
- Berkeley Blue: #13315C
- Yale Blue: #134074
*/

body 
{
    margin: 0;
    /*background-image: url(../images/background-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    background-color: #FAF9F6;
}

#title 
{
    font-size: 40px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: #FFFFFF; /*Should probably change color bc too light*/
}

#loginSignupDiv, #signupLoginDiv{
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 5vh;
    max-width: 50%;
    text-align: center;
    font-size: 30px;
    /*position: absolute;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    align-items: center;*/
}


#loginDiv, #signupDiv, #registerDiv, #backToLoginDiv {
    margin: 0 auto; 
    margin-bottom: 2vh; 
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: rgba(102, 204, 255, 0.5);
    border-radius: 10px;
    padding: 25px;
}

#loginName, #loginPassword, 
#firstName, #lastName
{
    margin: 1vh auto;
    max-width: 100%;
    font-size: 30px;
    text-align: left;
    padding-left: 5%;
    padding-right: 13%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 40px;
    color: #FFFFFF;
}

#passwordRequirements {
    margin-top: 5px;
    font-size: 14px;
    color: #FFFFFF;
    display: none; /* Initially hide the password requirements */
}

#passwordRequirements span {
    margin-left: 10px;
}

#loginPassword
{
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

#loginName:focus::placeholder,
#loginPassword:focus::placeholder,
#firstName:focus::placeholder,
#lastName:focus::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

::placeholder{
    color: rgba(255, 255, 255, 0.7);
}


.password-container, .firstName-container, 
.lastName-container, .loginName-container {
    position: relative;
}

.password-toggle, .badField {
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    /*color: #FFFFFF;*/
    display: none;
}


#signupText
{
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #FFFFFF;
}

#contactsDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}


#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 70%;
    margin: 2% auto;
    font-family: 'Merriweather Sans', sans-serif;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.buttons:hover
{
    background-color: #055C9D;
    color: #FFFFFF;
    opacity: 50%;
    transform: scale(1.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
}


#addContactForm
{
    display: none;
}

#contactsTable
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #EEF4ED;
}

table, th, td
{
    padding: 15px;
    border: 1px solid;
    border-collapse: collapse;
}

th
{
    text-align: center;
}

td
{
    text-align: left;
}

tr:hover
{
    background-color: #8DA9C4;
}

#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Merriweather Sans', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin: 0.5% auto 3%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #FFFFFF;
}

#backToLogin-inner-title
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #FFFFFF;
}

#loginResult, #signupResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Merriweather Sans', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #95060a;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0B2545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1000;
}

.right-links {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px; 
}

nav {
    display: flex;
    gap: 20px; 
}

.logo a,
nav a {
    text-decoration: none;
    color: #FAF9F6;
    transition: all 0.3s ease; /* Smooth transition effect */
}

.logo a:hover,
nav a:hover {
    font-size: 1.2em;  
}

.home{
    background-color: #97d0ff;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(95vh - 70px); 
    padding-top: 70px;
    margin-left: 5%;  
}

.content {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    max-width: 90%;
    text-align: left;
}

.text-container {
    max-width: 40%;
    margin-right: 20px;
}

.image-container {
    position: relative;
    /*max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;*/
}

/*.image,
.gif {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}*/

.gif {
    display: none; /* Initially hide the animated GIF */
}

.button-container {
    margin-top: 20px; 
    width:90%;
}

#mainPageTitle,
#mainPageSubTitle {
    margin-bottom: 20px;
}

#mainPageTitle {
  font-size: 50px;
  color: #4472CA;
}

#mainPageSubTitle{
  color: #0B2545;
  font-size: 20px;
}

footer {
    background-color: #0B2545;
    color: white;
    text-align: center;
    padding: 10px;
}

/*
COLOR PALETTE
- Mint cream: #EEF4ED
- Powder Blue: #8DA9C4
- Oxford Blue: #0B2545
- Berkeley Blue: #13315C
- Yale Blue: #134074
- penguin image: #97d0ff
*/