body 
{
    margin: 0;
    background-image: url(../images/background-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: aquamarine;
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: #FFFFFF;
}

#loginDiv
{
    /*font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;*/
    font-size: 30px;
    width: 50%;
    margin: 50px auto 20px; 
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: rgba(102, 204, 255, 0.5);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}
#signupText
{
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #FFFFFF;
}

#signupDiv
{
    font-size: 30px;
    width: 50%;
    margin: 0 auto; 
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: rgba(102, 204, 255, 0.5);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

#registerDiv
{
    font-size: 30px;
    width: 50%;
    margin: 0 auto; 
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: rgba(102, 204, 255, 0.5);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

#contactsDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#backToLoginDiv
{
    font-size: 30px;
    width: 50%;
    margin: 0 auto; 
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: rgba(102, 204, 255, 0.5);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 70%;
    margin: 2% auto;
    font-family: 'Merriweather Sans', sans-serif;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.buttons:hover
{
    background-color: #055C9D;
    color: #FFFFFF;
    opacity: 50%;
}

.table, th, td, tr
{
    border: 1px solid black;
    border-collapse: collapse;
}

#addContactForm
{
    display: none;
}

#firstName
{
    margin: 2% auto;
    width: 100%;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 40px;
    color: #FFFFFF;
}
#lastName
{
    margin: 2% auto;
    width: 100%;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 40px;
    color: #FFFFFF;
}
#loginName
{
    margin: 2% auto;
    width: 100%;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 40px;
    color: #FFFFFF;
}
#loginPassword
{
    margin: 2% auto;
    width: 100%;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 40px;
    color: #FFFFFF;
}

#loginName:focus::placeholder,
#loginPassword:focus::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Merriweather Sans', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin: 0.5% auto 3%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #FFFFFF;
}

#backToLogin-inner-title
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #FFFFFF;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Merriweather Sans', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #95060a;
}

::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.password-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.password-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #FFFFFF;
    display: none;
}